    body {
        background-color: lightgray;
        font-family: Arial, Helvetica, sans-serif;
        width: 1250px;
        margin: 0px auto;
        display: flex;
        min-height: 100vh;
        flex-wrap: wrap;
    }
    
    nav {
        height: 60px;
        width: 1210px;
        margin: 0px;
        text-align: left;
        align-items: center;
    }
    
    .navegacion {
        list-style: none;
        background: #092327;
        width: 100%;
        margin: 0px;
        height: 60px;
    }
    
    .navegacion li a {
        text-decoration: none;
        color: white;
        font-size: 30px;
    }
    
    .navegacion li {
        display: inline-flex;
        text-align: left;
        align-items: center;
    }
    
    .navegacion li a:hover {
        background-color: #f0a98b;
    }
    
    header {
        background-color: red;
        height: 90px;
        width: 100%;
        margin: 0px;
        text-align: center;
        line-height: 50px;
        color: white;
    }
    
    img {
        text-align: center;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    
    main {
        float: left;
        width: 80%;
    }
    
    aside {
        float: left;
        width: 18%;
        background: orange;
        padding: 20px 10px 10px 10px;
        min-height: 500px;
    }
    
    footer {
        background: black;
        color: azure;
        text-align: center;
        align-self: flex-end;
        height: 50px;
        width: 100%;
    }
    
    table {
        width: 80%;
        border-collapse: collapse;
        margin: 15px;
    }
    
    th,
    td {
        padding: 5px;
        border: 1px solid rgb(230, 230, 39);
        text-align: center;
        font-size: 24px;
    }
    
    th {
        font-weight: bold;
        background-color: coral;
    }
    
    tr:hover {
        background-color: coral;
    }
    
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        grid-template-rows: minmax(10px auto);
        padding: 10px;
    }
    
    .container div {
        background: #f59e7f;
        padding: 1em;
        text-align: center;
    }
    
    .container div:hover {
        border: 5px solid rgb(252, 252, 252);
    }
    
    @media only screen and (max-width: 600px) {
        header {
            background-color: darkgreen;
        }
        body {
            background-color: rgb(133, 222, 136);
        }
        ul {
            list-style-type: circle;
            font-size: 24px;
            color: rgb(15, 16, 17);
            font-weight: bold;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }
    }
    
    @media only screen and (max-width: 450px) {
        header {
            background-color: chocolate;
        }
        body {
            background-color: rgb(236, 214, 125);
            color: black;
        }
        ul {
            list-style-type: circle;
            font-size: 24px;
            font-weight: bold;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }
    }
